body {
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container-fluid h1{
	background-image: url"Motif1.png";
	height:100px;
	
	margin:0px;
	margin-left:0px;

}
.row .col-md-4 img{
	width:150px;
	height:200px;
}
#footer{
	background-color: black;
	color:white;
	text-align: center;
	margin-top: 15px;
	font-size: 12px;
	padding:10px 0 5px 0;
}